// Place SASS variable overrides here
// $font-size-root: 18px;

$color-accent: #4079FF;
$color-black: #333333;
$color-gray-dark: #63686B;
$color-gray-light: #F5F6F8;
$color-gray-light-2: #EAEDF1;
//$color-primary: #673AB7;
//$color-dark-primary: #512DA8;
//$color-primary-text: #212121;
//$color-light-primary: #D1C4E9;
//$color-accent: #E040FB;
//$color-text: #FFFFFF;
//$color-secondary-text: #757575;
//$color-divider: #BDBDBD;