@import "_variables.scss";
// -------------------Helper classes-------------------
.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.round-btn {
    border-radius: 100%;
}

.cursor-pointer {
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}



